<div class="container">
  <video autoplay loop muted>
    <source
      src="https://player.vimeo.com/external/434416095.sd.mp4?s=dd37f3900286b4b4690f1f9fdad45cc463e444fb&profile_id=164&oauth2_token_id=57447761"
      type="video/mp4"
    />
  </video>
  <h1 [style.display]="isStyleNone ? 'none' : 'block'">BlogNexus</h1>
  <p [style.display]="isStyleNone ? 'none' : 'block'">
    "BlogNexus: Connecting Minds Through Words"
  </p>
  <div class="button">
    <button
      [style.display]="isStyleNone ? 'none' : ''"
      class="item1 sign-up"
      (click)="signup()"
    >
      SignUp
    </button>
    <button
      [style.display]="isStyleNone ? 'none' : ''"
      class="item1 sign-up"
      (click)="signin()"
    >
      Signin
    </button>
  </div>
</div>
<router-outlet></router-outlet>
