<div class="dialog-box">
  <div class="container">
    <h1>Create You'r Blog</h1>
    <form [formGroup]="formGroup" class="example-form" (ngSubmit)="onsubmit()">
      <mat-form-field
        appearance="fill"
        color="primary"
        class="example-full-width"
      >
        <mat-label>BlogName</mat-label>
        <input
          type="email"
          matInput
          formControlName="BlogName"
          placeholder="Ex : Coding Blog etc..."
          [(ngModel)]="createNewBlog.BlogName"
        />
        <mat-error *ngIf="formGroup.get('BlogName')?.hasError('required')"
          >This field is <strong>required</strong></mat-error
        >
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        color="primary"
        class="example-full-width"
      >
        <mat-label>BlogSubTitle</mat-label>
        <input
          type="text"
          matInput
          formControlName="BlogSubTitle"
          placeholder="Ex : Coding Blog etc..."
          [(ngModel)]="createNewBlog.BlogSubTitle"
        />
        <mat-error *ngIf="formGroup.get('BlogSubTitle')?.hasError('required')"
          >This field is <strong>required</strong></mat-error
        >
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        color="primary"
        class="example-full-width"
      >
        <mat-label>Description</mat-label>
        <input
          type="email"
          matInput
          formControlName="BlogDescription"
          placeholder="Ex : Coding Blog etc..."
          [(ngModel)]="createNewBlog.BlogDescription"
        />
        <mat-error
          *ngIf="formGroup.get('BlogDescription')?.hasError('required')"
          >This field is <strong>required</strong></mat-error
        >
      </mat-form-field>
      <div class="upload">
        <input
          type="file"
          [(ngModel)]="createNewBlog.BlogImg"
          (change)="onFileSelected($event)"
        />
      </div>
      <input class="submit" type="submit" value="SUBMIT" />
    </form>
  </div>
</div>
